{% set intvars = nodes[inventory_hostname] -%}

frr version 4.0+cl3u13
frr defaults datacenter
hostname {{ inventory_hostname }}
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp {{ intvars.asn }}
 bgp router-id {{ intvars.loopback }}
{% if intvars.function == "leaf" %}
 neighbor evpn peer-group
 neighbor evpn remote-as external
 neighbor evpn ebgp-multihop 5
{% endif %}
 neighbor fabric peer-group
 neighbor fabric remote-as external
 neighbor fabric capability extended-nexthop
{% if intvars.function == "leaf" %}
{% for evpn in intvars.evpn %}
 neighbor 10.0.0.{{ evpn }} peer-group evpn
{% endfor %}
{% endif %}
{% for fabric in intvars.fabric %}
 neighbor swp{{ fabric }} interface peer-group fabric
{% endfor %}
 !
 address-family ipv4 unicast
  network {{ intvars.loopback }}/32
{% if intvars.function == "leaf" %}
  no neighbor evpn activate
{% endif %}
 exit-address-family
{% if intvars.function == "leaf" %}
 !
 address-family l2vpn evpn
  neighbor evpn activate
  advertise-all-vni
 exit-address-family
{% endif %}
!
line vty
!
