{% set intvars = nodes[inventory_hostname] -%}

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback
 address {{ intvars.loopback }}/32

# The primary network interface
auto eth0
iface eth0 inet dhcp

{% for fabric in intvars.fabric %}
auto swp{{ fabric }}
iface swp{{ fabric }}
 mtu 9000

{% endfor %}
{% if intvars.function == "leaf" %}
{% for compute in intvars.compute %}
auto swp{{ compute }}
iface swp{{ compute }}
 mtu 9000

{% endfor %}
{% endif %}
